openapi: "3.0.3"

info:
  version: 0.3.2
  title: Aeris IoT Watchtower™ API
  description: |-
    ## Introduction

    The Aeris IoT Watchtower™ API provides access to resources such as real-time events, aggregated events, risk assessment reports, and device group operations.

    The Watchtower API is based on the RESTful interface.

    This document covers the following topics:
    - Overview of the API
    - Detailed description of all available operations
    - Access, authentication, and rate limiting

    **Supported operations:**
    The Aeris IoT Watchtower API delivers security and management functionality based on your subscription package: 

    - Watchtower Analysis - this subscription package provides API access to the following operations: 
      - Events - Search, retrieve, update (single or bulk), export, metrics
      - Event configuration - Retrieve event configs, create/update/delete suppression configs
      - Device - Retrieve the last IMEI changes for devices and the IMEI change history of a device
      - Device groups - Create, update, delete, search, retrieve details, export groups and group devices
      - IP flows/Blocked flows/Allowed traffic - Search and export blocked or allowed IP flows
      - Security reports - Export full PDF, retrieve summary, details, device location, endpoint location, appendix search/export
      - Scheduled reports - Retrieves the status and download link of a scheduled report
      - Activity logs - Retrieve activity logs for device groups, events, and event configurations
      
      Note: The WT Analysis permission is required to enable Watchtower Analysis API functionality. Watchtower Analysis only provides access to Reporting device groups.

    - Watchtower Protection - this subscription package provides API access to the following operations: 
      - Device groups - Create, update, delete, search, retrieve details, export groups and group devices
      - IP flows/Blocked flows/Allowed traffic - Search and export blocked or allowed IP flows
      - Scheduled reports - Retrieves the status and download link of a scheduled report
      - Activity logs - Retrieve activity logs for device groups, events, and event configurations
      - Applications - Create, update, delete, search, and view details of applications
      - Protection policies - Create, update, delete, search, and view details of allow or block protection policies
      - Enforcement rules - Create, update, delete, search, retrieve details, activate/deactivate enforcement rules
      
      Note: The WT Protection permission is required to enable Watchtower Protection API functionality. Watchtower Protection only provides access to Enforcement device groups. The WT Complete permission provides access to both Reporting and Enforcement device groups.
      
    - Watchtower Complete - this subscription package provides API access to all capabilities from both the Analysis and Protection packages. 
      
    - Watchtower Monitoring - this subscription package does not include API access. 

    - Watchtower Control - this subscription package does not include API access. 

    ## Access, Authentication and Rate Limiting

    The Watchtower API uses Keycloak for authentication and authorization, with OAuth 2.0 Client Credentials Flow. 
    
    #### Obtaining Credentials
    
    The credentials are generated manually through a request procedure and transmitted securely to users.
    
    For Enterprise customers requesting Watchtower API access, an Aeris representative must open a Support ticket (CSP ticket) on behalf of the customer Administrator. The Support ticket must specify:
    - The Enterprise name.
    - The name and email address of the requestor (customer Administrator).
    - The list of Enterprises for which the request is being issued.

    Once the Support ticket is processed by Aeris, the credentials (`clientId` and `clientSecret`) will be securely provided to the requestor.

    Access to specific resources is determined by the roles associated with each `client_id`.

    #### Rate Limits 
    
    The API enforces a rate limit of 10 requests per minute per `client_id` and per `accountId`. Exceeding this limit returns a `429 Too Many Requests` error.

    #### Data Retrieval Limits 

    There is a maximum limit of 10,000 objects per request (downloading events, IP flows, or other resources). Exceeding this limit returns a `413 Request Entity Too Large` error and directs the user towards the relevant export endpoint.

    ## Scheduled Reports

    All `../export` endpoints start the generation of a Scheduled Report with a unique `reportId`. Use the `reportId` to query the dedicated endpoint for download. Reports are available for 10 minutes after generation. After they expire, a new request must be sent to the export endpoint to regenerate the report. 

    ## Activity Logs

    The Activity Logs API provides detailed records of all actions performed within the Watchtower platform. Queries to the `../export` endpoints for activity logs start the generation of an export file with a unique `reportId`. Use the `reportId` to query the dedicated endpoint for download. Reports are available for 10 minutes after generation. After they expire, a new request must be sent to the export endpoint to regenerate the report.

    ## Support

    Each API error response includes a `traceId`. When submitting an incident report to Aeris, include the associated `traceId` for troubleshooting.

  termsOfService: 'https://www.aeris.com/services-terms-of-use/'
  contact:
    email: support@aeris.net
    url: 'https://www.aeris.com/support/'
  license:
    name: Aeris License
    url: 'https://www.aeris.com/services-terms-of-use/'
  x-audience: external-public

tags:
  - name: Token
    description: Endpoint to Acquire and Revoke Token
  - name: Events
    description: Endpoints for Awareness Security Events
  - name: Events Configuration
    description: Endpoints for configuring Security Events
  - name: Devices
    description: Endpoints for Devices
  - name: Device Groups
    description: Endpoints for Device Groups
  - name: Flows
    description: Endpoints for flows - IP flows/Blocked flows/Allowed traffic
  - name: Security Report
    description: Endpoints for Security Reports
  - name: Scheduled Reports
    description: Endpoints for downloading Scheduled Reports
  - name: Activity Logs
    description: Endpoints for Activity Logs
  - name: Applications
    description: Endpoints for Enforcement Applications
  - name: Protection Policies
    description: Endpoints for Enforcement Protection Policies
  - name: Enforcement Rules
    description: Endpoints for Enforcement Rules


security:
  - oAuth2ClientCredentials: [ ]

servers:
  - url: https://watchtower-api-prd.aeriscloud.com

paths:

  ########################## Token ################################################
  /watchtower/v1/auth/token:
    post:
      tags:
        - Token
      summary: Acquire Access token
      description: Endpoint to obtain an access token using Client Credentials flow
      operationId: getToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - client_id
                - client_secret
              properties:
                grant_type:
                  type: string
                  enum: [ client_credentials ]
                  default: client_credentials
                client_id:
                  type: string
                  example: "operator1.enterprise1.application1"
                client_secret:
                  type: string
                  format: password
                  example: "tg69jPfKPtBEMzoPP1gNfI2HrCOZylpO"
      responses:
        '200':
          description: Successful token acquisition
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ..."
                  expires_in:
                    type: integer
                    example: 35998
                  refresh_expires_in:
                    type: integer
                    example: 0
                  token_type:
                    type: string
                    example: "Bearer"
                  not-before-policy:
                    type: integer
                    example: 0
                  scope:
                    type: string
                    example: "profile email"
                  authorized_account_ids:
                    type: array
                    items:
                      type: integer
                    example: [ 100000001, 100000002, 100000003 ]
        '400':
          description: "Missing required parameter: ..."
        '401':
          description: Invalid client credentials


  ########################## Generic ##############################################
  /watchtower/v1/scheduled-reports/{reportId}:
    get:
      summary: Get Report Status
      description: Returns the status of the scheduled report, and the download link if the report is ready
      operationId: getScheduledReport
      tags:
        - Scheduled Reports
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/reportId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReportStatus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'


  ########################## [Awareness] Events ###################################
  /watchtower/v1/events:
    put:
      summary: Update multiple Events
      description: |
        This endpoint allows to update the status of one or more Events.
      operationId: updateEvents
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
      tags:
        - Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventsBulkUpdateRequest'
      responses:
        '200':
          description: Successfully updated
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/events/search:
    post:
      summary: Search/Get Events
      description: This endpoint returns the list of Events.
      operationId: getEvents
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventsQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedEventsTable'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '413':
          $ref: '#/components/responses/413'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/events/{eventId}:
    get:
      summary: Get details of an Event
      description: This endpoint retrieves details about an Event.
      operationId: getEvent
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/eventId'
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      summary: Update a single Event (Lifecycle operation)
      description: >
        This endpoint allows to update the status of an Event and provide a comment.
      operationId: updateEvent
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/eventId'
      tags:
        - Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventsUpdateRequest'
      responses:
        '200':
          description: Successfully updated
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/events/export:
    post:
      summary: Export Events
      description: Use this endpoint to export the Events report as CSV.
      operationId: exportEvents
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/sort'
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventsQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/events/metrics/search:
    post:
      summary: Get Events Metrics
      description: >
        This endpoint returns metrics about Events. Allows you to retrieve arbitrary metrics
        by supplying dimensions, metrics and filters.
      operationId: getEventsMetrics
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventsMetricsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedSummaryTable'
              example:
                total: 4
                limit: 10
                offset: 0
                schema:
                  fields:
                    - name: status
                      type: STRING
                    - name: cnt__event_id
                      type: INTEGER
                data:
                  - - "New"
                    - 15
                  - - "Saved For Review"
                    - 5
                  - - "Dismissed"
                    - 6
                  - - "Completed"
                    - 10
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  # Next release: Events: also Devices

  # Aggregated Events
  /watchtower/v1/aggregate-events/metrics/search:
    post:
      summary: Get Aggregated Events Metrics
      description: This endpoint returns metrics about Aggregates events.
      operationId: getAggregatedEventsMetrics
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregatedEventsQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedSummaryTable'
              example:
                total: 4
                limit: 10
                offset: 0
                lastEvaluatedDate: "2025-10-10"
                schema:
                  fields:
                    - name: status
                      type: STRING
                    - name: cnt__event_id
                      type: INTEGER
                data:
                  - - "New"
                    - 15
                  - - "Saved For Review"
                    - 5
                  - - "Dismissed"
                    - 6
                  - - "Completed"
                    - 10
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # Next release: Origin & Destination Matrix

  # Events suppression configs
  /watchtower/v1/events/configs:
    get:
      summary: Get Event Configs
      description: |
        This endpoint returns the list of Event configs.
      operationId: getEventConfigs
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
      tags:
        - Events Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedEventConfigsTable'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/events/configs/{eventConfigId}/suppression-configs:
    post:
      summary: Create an Event suppression configuration
      description: |
        This endpoint allows to create a new Event suppression configuration.
      operationId: createEventSuppressionConfig
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/eventConfigId'
      tags:
        - Events Configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSuppressionConfigCreateRequest'
      responses:
        '201':
          description: Created.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/events/configs/{eventConfigId}/suppression-configs/{suppressionConfigId}:
    get:
      summary: Get Event Suppression Configs
      description: |
        This endpoint returns detail of event suppression configs.
      operationId: getEventSuppressionConfigs
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/eventConfigId'
        - $ref: '#/components/parameters/suppressionConfigId'
      tags:
        - Events Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSuppressionConfig'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      summary: Update Event Suppression Configs
      description: |
        This endpoint update existing event suppression configs.
      operationId: updateEventSuppressionConfigs
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/eventConfigId'
        - $ref: '#/components/parameters/suppressionConfigId'
      tags:
        - Events Configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSuppressionConfigUpdateRequest'
      responses:
        '200':
          description: Successfully updated
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    delete:
      summary: Delete Event Suppression Configs
      description: |
        This endpoint deletes existing event suppression configs.
      operationId: deleteEventSuppressionConfigs
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/eventConfigId'
        - $ref: '#/components/parameters/suppressionConfigId'
        - $ref: '#/components/parameters/undoDismissedEvents'
      tags:
        - Events Configuration
      responses:
        '200':
          description: Successfully deleted
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'


  ########################## [Awareness] SRS ######################################

  # IP Flows
  /watchtower/v1/ip-flows/search:
    post:
      summary: API to get IP Flows
      description: This endpoint retrieves IP Flows - BLOCKED or ALLOWED
      operationId: getIPFlows
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      tags:
        - Flows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/BlockedIPFlowsSearchRequest'
                - $ref: '#/components/schemas/AllowedIPFlowsSearchRequest'
              discriminator:
                propertyName: flowType
                mapping:
                  BLOCKED: '#/components/schemas/BlockedIPFlowsSearchRequest'
                  ALLOWED: '#/components/schemas/AllowedIPFlowsSearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedFlows'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '413':
          $ref: '#/components/responses/413'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/ip-flows/export:
    post:
      summary: API for exporting IP Flows
      description: This endpoint exports IP Flows as scheduled report
      operationId: exportIPFlows
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/sort'
      tags:
        - Flows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/BlockedIPFlowsSearchRequest'
                - $ref: '#/components/schemas/AllowedIPFlowsSearchRequest'
              discriminator:
                propertyName: flowType
                mapping:
                  BLOCKED: '#/components/schemas/BlockedIPFlowsSearchRequest'
                  ALLOWED: '#/components/schemas/AllowedIPFlowsSearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # Blocked Flows
  /watchtower/v1/blocked-flows/search:
    post:
      summary: API to get Blocked Flows
      description: This endpoint retrieves Blocked Flows
      operationId: searchBlockedFlows
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      tags:
        - Flows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockedFlowsSearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedBlockedFlows'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '413':
          $ref: '#/components/responses/413'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/blocked-flows/export:
    post:
      summary: API to export Blocked Flows
      description: This endpoint exports Blocked Flows as CSV with Scheduled Report
      operationId: exportBlockedFlows
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      tags:
        - Flows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockedFlowsSearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '413':
          $ref: '#/components/responses/413'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # Allowed Traffic
  /watchtower/v1/allowed-traffic/search:
    post:
      summary: API to get Allowed Traffic
      description: This endpoint retrieves Allowed Traffic
      operationId: searchAllowedTraffic
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      tags:
        - Flows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllowedTrafficSearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedAllowedTraffic'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '413':
          $ref: '#/components/responses/413'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/allowed-traffic/export:
    post:
      summary: API to export Allowed Traffic
      description: This endpoint exports Allowed Traffic as CSV with Scheduled Report
      operationId: exportAllowedTraffic
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      tags:
        - Flows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllowedTrafficSearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '413':
          $ref: '#/components/responses/413'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # Next release:
  # /v2.0/security/accounts/{accountId}/endpoints/search
  # /v2.0/security/accounts/{accountId}/endpoints/export
  # /v2.0/security/accounts/{accountId}/devices/search
  # /v2.0/security/accounts/{accountId}/devices/export

  # Device Changes
  /watchtower/v1/devices/imei-change:
    get:
      summary: Retrieve Devices' Last IMEI changes.
      description: >
        This endpoint provides a list of Devices' last IMEI changes within the
        time range.
      operationId: getDevicesChanges
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      tags:
        - Devices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedDeviceImeiChanges'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/devices/{deviceId}/imei-change:
    get:
      summary: Retrieve IMEI change history of a device.
      description: >
        This endpoint provides IMEI change history for a device within the time
        range.
      operationId: getDeviceChanges
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/deviceId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      tags:
        - Devices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedDeviceImeiChanges'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'


  ########################## [Awareness] DeviceGroups #############################

  /watchtower/v1/device-groups:
    post:
      summary: Create a new device group
      operationId: createDeviceGroup
      tags:
        - Device Groups
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: "#/components/parameters/accountId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupCreateRequest'
      responses:
        '201':
          description: Device group created successfully
          content:
            application/json:
              schema:
                type: integer
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/device-groups/search:
    post:
      summary: Get device groups
      tags:
        - Device Groups
      operationId: getDeviceGroups
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedDeviceGroupTable'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '413':
          $ref: '#/components/responses/413'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/device-groups/{deviceGroupId}:
    get:
      summary: Get device group details
      tags:
        - Device Groups
      operationId: getDeviceGroup
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/deviceGroupId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroup'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      summary: Update an existing device group
      operationId: updateDeviceGroup
      tags:
        - Device Groups
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/deviceGroupId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupUpdateRequest'
      responses:
        '204':
          description: "No content, the resource was successfully updated."
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a new device group
      operationId: deleteDeviceGroup
      tags:
        - Device Groups
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/deviceGroupId"
      responses:
        '204':
          description: "No content, the resource was successfully deleted."
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/device-groups/export:
    post:
      summary: Get Device Groups exported as CSV.
      tags:
        - Device Groups
      operationId: exportDeviceGroups
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/device-groups/{deviceGroupId}/devices/export:
    post:
      summary: Get Device Group Devices exported as CSV.
      tags:
        - Device Groups
      operationId: exportDeviceGroupDevices
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/deviceGroupId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # Next release: we can add support for more Query filters (e.g. SPs, APNs, ...)

  ########################## [Awareness] Security Report ##########################

  /watchtower/v1/security-report/export:
    get:
      tags:
        - Security Report
      summary: Get Monthly Security Report PDF
      description: Get Monthly Security Report PDF
      operationId: getSecurityReportPDF
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/year'
        - $ref: '#/components/parameters/month'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/security-report/summary:
    get:
      tags:
        - Security Report
      summary: Get Security Report Summary
      description: Get Summary section from Security Report
      operationId: getSecurityReportSummary
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/year'
        - $ref: '#/components/parameters/month'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityReportSummary'
              example:
                total_low: 19
                total_medium: 3
                total_high: 3
                overall_severity: High
                summary_text: During the month of April 2025, Aeris IoT Watchtower™ conducted a security assessment of your 105,899 provisioned devices, of which 5 were active, on the Aeris network. We encountered a total of 25 issues with 3 considered to be high risk, 3 medium risk, and 19 low risks across the categories below. In this summary, we list only the most important in each category.
                disclaimer: The results presented in this report are a point-in-time risk assessment and represent the state of security on the date it was produced. Aeris makes no representation on the completeness of the risks assessed. The risks analyzed in the section titled Security Risk Assessment Details constitute the entire analysis performed. This report is prepared for the intended recipient only and no other parties may rely on it for any purposes.
                disclaimer_no2: ICMP, DNS and NTP protocols are excluded from endpoint locations map.
                sections:
                  application_security:
                    high: 1
                    medium: 1
                    low: 0
                    highest_severity: High
                    recommended_action: Verify the legitimacy of traffic for devices communicating in non-designated / OFAC countries.
                  data_protection:
                    high: 2
                    medium: 0
                    low: 2
                    highest_severity: High
                    recommended_action: We recommend configuring your IoT devices to use encrypted protocols (HTTPS and SFTP) rather than unencrypted protocols (HTTP and FTP).
                  device_security:
                    high: 0
                    medium: 0
                    low: 15
                    highest_severity: Low
                    recommended_action: No action required at this time.
                  inventory_control_devices:
                    high: 0
                    medium: 0
                    low: 2
                    highest_severity: Low
                    recommended_action: No action required at this time.
                  net_work_security:
                    high: 0
                    medium: 2
                    low: 0
                    highest_severity: Medium
                    recommended_action: We recommend an end-to-end encrypted channel to be used for data flow between IOT devices and the customer’s application server.
                device_activated_summary:
                  - - Unknown
                    - 5
                    - 462612618
                trend_low:
                  content: +18.75%
                  direction: trend_up
                  current_value: 19
                  previous_value: 16
                trend_medium:
                  content: 0%
                  direction: trend_flat
                  current_value: 3
                  previous_value: 3
                trend_high:
                  content: '-50%'
                  direction: trend_down
                  current_value: 3
                  previous_value: 6
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/security-report/detail:
    get:
      tags:
        - Security Report
      summary: Get Security Report Detail
      description: Get Details section from Security Report
      operationId: getSecurityReportDetail
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/year'
        - $ref: '#/components/parameters/month'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityReportDetail'
              example:
                sections:
                  inventory_control_devices:
                    - sec_no: '1.1'
                      tds:
                        - content: 1.1 Devices located according to expectations
                          column: security_item
                        - content: 'Are devices outside their designated home country? '
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% devices outside of designated home country: Low < 5% Medium 5% to 10% High: > 10% '
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '1.2'
                      tds:
                        - content: 1.2 Non-IoT devices in use
                          column: security_item
                        - content: 'Use of Non-IoT devices '
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% of non-IoT devices: Low < 5% Medium 5% to 10% High > 10% '
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                  data_protection:
                    - sec_no: '2.1'
                      tds:
                        - content: 2.1 Encrypt Data flow to private applications
                          column: security_item
                        - content: Number of  enterprise cellular connections towards applications deployed in the enterprise’s private network not using  encrypted channels (ex- https or TLS)?
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% of devices using unencrypted channels: Low < 5% Medium 5% to 10% High > 10% '
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '2.2'
                      tds:
                        - content: 2.2 Encrypt Data flow to public applications
                          column: security_item
                        - content: Number of enterprise cellular connections towards applications deployed in the enterprise’s public network not using encrypted channels (ex- https or TLS)?
                          column: description
                        - content: +100%
                          direction: trend_up
                          current_value: 1
                          previous_value: 0
                          column: trend
                        - content: '1'
                          column: occurrence_count
                        - content: '% of devices using unencrypted channels: Low < 5% Medium 5% to 10% High > 10% '
                          column: assessment_criteria
                        - content: High
                          column: assessed_severity
                        - content: We recommend configuring your IoT devices to use encrypted protocols (HTTPS and SFTP) rather than unencrypted protocols (HTTP and FTP).
                          column: recommended_action
                    - sec_no: '2.3'
                      tds:
                        - content: 2.3 Use of untrusted DNS servers
                          column: security_item
                        - content: Number of devices connecting to a recursive DNS that is public or untrusted
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% of devices using a public recursive DNS: Low < 5% Medium 5% to 10% High > 10% '
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '2.4'
                      tds:
                        - content: 2.4 Data Sovereignty
                          column: security_item
                        - content: Number of devices communicating with applications located outside the home country
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% of devices communicating with applications outside their home country: Low < 0.1% Medium 0.1% to 0.5% High > 0.5%'
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                  net_work_security:
                    - sec_no: '3.1'
                      tds:
                        - content: 3.1 Devices utilizing a secure connection
                          column: security_item
                        - content: Are remote devices utilizing VPN to connect to enterprise’s servers?
                          column: description
                        - content: +100%
                          direction: trend_up
                          current_value: 1
                          previous_value: 0
                          column: trend
                        - content: '1'
                          column: occurrence_count
                        - content: ''
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '3.2'
                      tds:
                        - content: 3.2 Manage security access controls
                          column: security_item
                        - content: Is there a zero-trust security policy enabled OR creating a blocked list of endpoints?
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: Low if any network policy configured, Medium otherwise
                          column: assessment_criteria
                        - content: Medium
                          column: assessed_severity
                        - content: Verify the legitimacy of traffic for affected devices depicting anomalous behavior and set up policies to proactively block or allow traffic using Aeris IoT WatchTower Enforcement.
                          column: recommended_action
                  application_security:
                    - sec_no: '4.1'
                      tds:
                        - content: '4.1 Non-compliant communications: OFAC'
                          column: security_item
                        - content: Are devices communicating to endpoints in OFAC countries?
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: 'Devices communicating to endpoints in OFAC countries: Low = 0 High > 0 '
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '4.2'
                      tds:
                        - content: 4.2 Public applications
                          column: security_item
                        - content: Applications reachable via the public Internet
                          column: description
                        - content: +100%
                          direction: trend_up
                          current_value: 54
                          previous_value: 0
                          column: trend
                        - content: '54'
                          column: occurrence_count
                        - content: 'Number of applications reachable on the public Internet: Low = 0 Medium > 0'
                          column: assessment_criteria
                        - content: Medium
                          column: assessed_severity
                        - content: We recommend secure VPN communication instead of public internet for application communication.
                          column: recommended_action
                  device_security:
                    - sec_no: '5.1'
                      alert_type: Malicious Endpoint
                      tds:
                        - content: 5.1 Malicious Endpoint
                          column: security_item
                        - content: Devices communicating with well-known malicious endpoints identified by their IP address
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% of devices communicating with Malicious endpoints by IP: Low < 0.1% Medium 0.1% to 0.5% High > 0.5% '
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '5.2'
                      alert_type: New IP
                      tds:
                        - content: 5.2 Anomalous Behavior - New destination IPs
                          column: security_item
                        - content: Devices attached to unexpected new destination IP addresses on the network
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% devices showing new IP addresses: Low < 0.1% Medium 0.1% to 0.5% High > 0.5%'
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '5.3'
                      alert_type: Port Scan
                      tds:
                        - content: 5.3 Anomalous Behavior – Port scan
                          column: security_item
                        - content: Devices scanning ports beyond their normal connection to the endpoint
                          column: description
                        - content: +100%
                          direction: trend_up
                          current_value: 1
                          previous_value: 0
                          column: trend
                        - content: '1'
                          column: occurrence_count
                        - content: '% devices showing port scan events: Low < 0.1% Medium 0.1% to 0.5% High > 0.5% '
                          column: assessment_criteria
                        - content: High
                          column: assessed_severity
                        - content: Verify the integrity of these devices that have been performing unusual port scans.
                          column: recommended_action
                    - sec_no: '5.4'
                      alert_type: Address Scan
                      tds:
                        - content: 5.4 Anomalous Behavior – Address scan
                          column: security_item
                        - content: Devices scanning the addresses of other devices in their subnet
                          column: description
                        - content: +100%
                          direction: trend_up
                          current_value: 1
                          previous_value: 0
                          column: trend
                        - content: '1'
                          column: occurrence_count
                        - content: '% devices showing address scan events: Low 0% Medium 0% to 0.1% High > 0.1% '
                          column: assessment_criteria
                        - content: High
                          column: assessed_severity
                        - content: Verify the integrity of these devices that have been performing unusual address scans.
                          column: recommended_action
                    - sec_no: '5.5'
                      alert_type: TCP Bad Flags
                      tds:
                        - content: 5.5 Anomalous Behavior – TCP bad flags
                          column: security_item
                        - content: Unexpected use of TCP flags
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: 'Frequency of TCP bad flag events per week: Low <10 Medium 10 to 100 High > 100 '
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '5.6'
                      alert_type: TCP Max Flows
                      tds:
                        - content: 5.6 Anomalous Behavior – TCP large flow count
                          column: security_item
                        - content: Unexpected large count of TCP flows
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% devices showing large TCP flow count: Low < 0.1% Medium 0.1% to 0.5% High > 0.5%'
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '5.7'
                      alert_type: Traffic Spike
                      tds:
                        - content: 5.7 Anomalous Behavior – Traffic spike
                          column: security_item
                        - content: Unexpected large occurrence of traffic spike
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% devices showing traffic spike: Low < 0.1% Medium 0.1% to 0.5% High > 0.5%'
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '5.8'
                      alert_type: SIM Misuse
                      tds:
                        - content: 5.8 SIM misuse
                          column: security_item
                        - content: Devices having their SIM swapped
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% devices showing SIM misuse alarm: Low 0% Medium 0% to 0.1% High > 0.1% '
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '5.9'
                      alert_type: Botnet and C&C
                      tds:
                        - content: 5.9 Botnet and C&C
                          column: security_item
                        - content: Devices communicated with an endpoint related to a malicious bot, infecting the hosts and connecting them to a central server or servers that act as a command and control (C&C) center.
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% devices showing Botnet and C&C: Low < 0.1% Medium 0.1% to 0.5% High > 0.5%'
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '5.10'
                      alert_type: Cryptocurrency
                      tds:
                        - content: 5.10 Cryptocurrency
                          column: security_item
                        - content: Devices communicated with an endpoint related to cryptocurrencies, which allow malicious actors to perform illegal or fraudulent activities, purchases, or payments.
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% devices showing Cryptocurrency: Low < 0.1% Medium 0.1% to 0.5% High > 0.5% '
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '5.11'
                      alert_type: Data Exfiltration
                      tds:
                        - content: 5.11 Data Exfiltration
                          column: security_item
                        - content: Devices communicated with an endpoint participating in data exfiltration, which refers to obfuscating DNS queries for the purpose of hiding communication.
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% devices showing Data Exfiltration: Low < 0.1% Medium 0.1% to 0.5% High > 0.5% '
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '5.12'
                      alert_type: Phishing
                      tds:
                        - content: 5.12 Phishing
                          column: security_item
                        - content: Devices communicated with email messages that look like they are from a trusted business but are actually connected to phishing websites.
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% devices showing Phishing: Low < 0.1% Medium 0.1% to 0.5% High > 0.5%'
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '5.13'
                      alert_type: Suspicious Endpoint
                      tds:
                        - content: 5.13 Suspicious Endpoint
                          column: security_item
                        - content: Devices communicated with a domain that has not been established and is serving temporary content on its base page (a parked domain).
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% devices showing Suspicious Endpoint: Low < 0.1% Medium 0.1% to 0.5% High > 0.5%'
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '5.14'
                      alert_type: Ransomware
                      tds:
                        - content: 5.14 Ransomware
                          column: security_item
                        - content: Devices communicated with an endpoint known to have ransomware, a type of malware that can encrypt or destroy files and folders on a device, server, or computer, and then demand a ransom payment in exchange for a key to unlock the data.
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% devices showing Ransomware: Low < 0.1% Medium 0.1% to 0.5% High > 0.5%'
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                    - sec_no: '5.15'
                      alert_type: Blocked Flows
                      tds:
                        - content: 5.15 Blocked Flows
                          column: security_item
                        - content: Blocked Flows by a security policy.
                          column: description
                        - content: 0%
                          direction: trend_flat
                          current_value: 0
                          previous_value: 0
                          column: trend
                        - content: '0'
                          column: occurrence_count
                        - content: '% showing Blocked Flows: Low < 0.1% Medium 0.1% to 0.5% High > 0.5%'
                          column: assessment_criteria
                        - content: Low
                          column: assessed_severity
                        - content: No action required at this time.
                          column: recommended_action
                category:
                  inventory_control_devices: 1. Inventory and Control of Devices
                  data_protection: 2. Data Protection
                  net_work_security: 3. Network Security
                  application_security: 4. Application Security
                  device_security: 5. Device Security
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/security-report/device-location:
    get:
      tags:
        - Security Report
      summary: Get Security Report Device Location Tables
      description: Get Device Location section from Security Report
      operationId: getSecurityReportDevice
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/year'
        - $ref: '#/components/parameters/month'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityReportDeviceUsage'
              example:
                total: 1
                data:
                  - - active_devices: 0
                      device_country: string
                      data_usage_bytes: 0
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/security-report/endpoint-location:
    get:
      tags:
        - Security Report
      summary: Get Security Report Endpoint Location Tables
      description: Get Endpoint Location section from Security Report
      operationId: getSecurityReportEndpoint
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/year'
        - $ref: '#/components/parameters/month'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityReportEndpoint'
              example:
                total: 1
                data:
                  - - endpoint_country: United States
                      device_count: 5
                      endpoint_count: 385
                      data_usage_bytes: 12131923
                      ip_flows: 8320
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/security-report/appendix/search:
    post:
      tags:
        - Security Report
      summary: Get Security Report Appendix
      description: Get Appendix report of an account for a specific month
      operationId: getSecurityReportAppendix
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/year'
        - $ref: '#/components/parameters/month'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityReportAppendixRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedSecurityReportAppendix'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '413':
          $ref: '#/components/responses/413'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/security-report/appendix/export:
    post:
      summary: Export Security Report Appendix
      description: Export Security Report Appendix
      tags:
        - Security Report
      operationId: exportSecurityReportAppendix
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/year'
        - $ref: '#/components/parameters/month'
        - $ref: '#/components/parameters/sort'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityReportAppendixTrigger'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'


  ########################## Activity Logs ########################################
  /watchtower/v1/activity-logs/device-groups/search:
    post:
      summary: Get device group activity logs
      description: Get activity logs of a device group
      operationId: getActivityLogsDeviceGroups
      tags:
        - Activity Logs
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupActivityLogQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedDeviceGroupActivityLog'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/activity-logs/events/search:
    post:
      summary: Get events activity logs
      description: Get events life cycle activity logs
      operationId: getActivityLogsEvents
      tags:
        - Activity Logs
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventActivityLogQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedEventActivityLog'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/activity-logs/events/configs/search:
    post:
      summary: Get event configs activity logs
      description: Get event configs activity logs
      operationId: getActivityLogsEventConfigs
      tags:
        - Activity Logs
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventConfigActivityLogQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedEventConfigActivityLog'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/activity-logs/applications/search:
    post:
      summary: Get applications activity logs
      description: Get applications activity logs
      operationId: getActivityLogsApplications
      tags:
        - Activity Logs
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationActivityLogQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedApplicationActivityLog'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/activity-logs/protection-policies/search:
    post:
      summary: Get protection policies activity logs
      description: Get protection policies activity logs
      operationId: getActivityLogsProtectionPolicies
      tags:
        - Activity Logs
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtectionPolicyActivityLogQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedProtectionPolicyActivityLog'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/activity-logs/enforcement-rules/search:
    post:
      summary: Get enforcement rules activity logs
      description: Get enforcement rules activity logs
      operationId: getActivityLogsEnforcementRules
      tags:
        - Activity Logs
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnforcementRuleActivityLogQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedEnforcementRuleActivityLog'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  ########################## [Enforcement] Applications ###################################
  /watchtower/v1/applications:
    post:
      summary: Create an application
      operationId: createApplication
      tags:
        - Applications
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: "#/components/parameters/accountId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCreateRequest'
      responses:
        '201':
          description: Application created successfully
          content:
            application/json:
              schema:
                type: integer
                format: int64
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/applications/search:
    post:
      summary: Search applications
      operationId: searchApplications
      tags:
        - Applications
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationsQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedApplications'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/applications/{applicationId}:
    get:
      summary: Get an application
      operationId: getApplication
      tags:
        - Applications
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: "#/components/parameters/accountId"
        - $ref: '#/components/parameters/applicationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      summary: Update an existing application
      operationId: updateApplication
      tags:
        - Applications
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/applicationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationUpdateRequest'
      responses:
        '204':
          description: "No content, the resource was successfully updated."
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    delete:
      summary: Delete an application
      operationId: deleteApplication
      tags:
        - Applications
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/applicationId"
      responses:
        '204':
          description: "No content, the resource was successfully deleted."
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  ########################## [Enforcement] Protection Policies ###################################
  /watchtower/v1/protection-policies:
    post:
      summary: Create a protection policy
      operationId: createProtectionPolicy
      tags:
        - Protection Policies
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: "#/components/parameters/accountId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtectionPolicyCreateRequest'
      responses:
        '201':
          description: Protection policy created successfully
          content:
            application/json:
              schema:
                type: integer
                format: int64
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/protection-policies/search:
    post:
      summary: Search protection policies
      operationId: searchProtectionPolicies
      tags:
        - Protection Policies
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtectionPoliciesQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedProtectionPolicies'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/protection-policies/{protectionPolicyId}:
    get:
      summary: Get a protection policy
      operationId: getProtectionPolicy
      tags:
        - Protection Policies
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: "#/components/parameters/accountId"
        - $ref: '#/components/parameters/protectionPolicyId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionPolicy'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      summary: Update an existing protection policy
      operationId: updateProtectionPolicy
      tags:
        - Protection Policies
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/protectionPolicyId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtectionPolicyUpdateRequest'
      responses:
        '204':
          description: "No content, the resource was successfully updated."
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a protection policy
      operationId: deleteProtectionPolicy
      tags:
        - Protection Policies
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/protectionPolicyId"
      responses:
        '204':
          description: "No content, the resource was successfully deleted."
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  ########################## [Enforcement] Enforcement Rules ###################################
  /watchtower/v1/enforcement-rules:
    post:
      summary: Create an enforcement rule
      operationId: createEnforcementRule
      tags:
        - Enforcement Rules
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: "#/components/parameters/accountId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnforcementRuleCreateRequest'
      responses:
        '201':
          description: Enforcement rule created successfully
          content:
            application/json:
              schema:
                type: integer
                format: int64
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /watchtower/v1/enforcement-rules/search:
    post:
      summary: Search enforcement rules
      operationId: searchEnforcementRules
      tags:
        - Enforcement Rules
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
[...]
